html {
  padding: 0 !important;
  top: 0;
  bottom: 0;
}
.body {
  margin: 0 !important;
  /* width: 100% !important;
  padding: 0 !important;
  height: 100% !important;
  position: relative;
  bottom: 0; */
  top: 0;
  bottom: 0;
}

.addrequest {
  margin-top: 40px;
  float: right;
}
.addrequestmobile {
  display: none;
}
.cardcontainer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.cardbody1 {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
}
.cardtitle1 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: rgb(65, 62, 62);
}
.cardsubtitle1 {
  font-size: 45px;
  padding-left: 55px;
  color: rgb(65, 62, 62);
  /* font-weight: 500; */
}

.cardiconbody1 {
  font-size: 45px;
  float: right;
  padding-top: 20px;
  padding-right: 30px;
  color: #4f26aa;
  opacity: 0.7;
}
.cardbody2 {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;

  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
}
.cardtitle2 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: rgb(65, 62, 62);
}
.cardsubtitle2 {
  font-size: 45px;
  padding-left: 55px;
  color: rgb(65, 62, 62);
  /* font-weight: 500; */
}

.cardiconbody2 {
  font-size: 45px;
  float: right;
  padding-top: 20px;
  padding-right: 30px;
  color: rgb(103, 221, 103);
  opacity: 0.7;
}
.cardbody3 {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
}
.cardtitle3 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: rgb(65, 62, 62);
}
.cardsubtitle3 {
  font-size: 45px;
  padding-left: 55px;
  color: rgb(65, 62, 62);
  /* font-weight: 500; */
}

.cardiconbody3 {
  font-size: 45px;
  float: right;
  padding-top: 20px;
  padding-right: 30px;
  color: #eff63b;
  opacity: 0.7;
}
.cardbody4 {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
}
.cardtitle4 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: rgb(65, 62, 62);
}
.cardsubtitle4 {
  font-size: 45px;
  padding-left: 55px;
  color: rgb(65, 62, 62);
  /* font-weight: 500; */
}

.cardiconbody4 {
  font-size: 45px;
  float: right;
  padding-top: 20px;
  padding-right: 30px;
  color: #f13c3c;
  opacity: 0.7;
}

/* .invoicecontainer {
  margin-top: 50px;
} */

::placeholder {
  padding-left: 20px;
}
.requestform {
  overflow-y: scroll !important;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .cardcontainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    overflow: auto;
  }
  .cardbody1 {
    width: 300px;
    min-height: 80px;
    margin: 0 5px;
    flex-shrink: 0;
  }
  .cardbody2 {
    width: 300px;
    min-height: 80px;
    margin: 0 5px;
    flex-shrink: 0;
  }
  .cardbody3 {
    width: 300px;
    min-height: 80px;
    margin: 0 5px;
    flex-shrink: 0;
  }
  .cardbody4 {
    width: 300px;
    min-height: 80px;
    margin: 0 5px;
    flex-shrink: 0;
  }

  .tablecontainer {
    margin-top: 0 !important;
  }

  /* .requestform {
    display: none !important;
  } */
  .addrequest {
    display: none;
  }
  .addrequestmobile {
    display: flex;
    margin-top: 30px;
    float: right;
  }
  .requestform {
    overflow-y: scroll !important;
  }
}
