.body {
  margin: 0 !important;
  width: 100vw !important;
  background: #fafbfc !important;
}
::placeholder {
  padding-left: 20px;
}
.sec1 {
  width: 100%;
  background-image: 
  /* top, transparent red */ linear-gradient(
      rgba(132, 115, 207, 0.92),
      rgba(132, 115, 207, 0.9)
    ),
    /* your image */ url("../assets/nav-image.jpg");
  padding: 60px 30px 80px 30px;
  display: block;
  width: 100% !important;
}
.toggle {
  color: #ffffff !important;
  background: #8473cf;
  font-size: 30px;
  border: none;
  outline: none;
  padding: 0 !important;
}
.toggle:hover {
  color: #ffffff !important;
  background: none;
  border: none;
  outline: none;
}

.toggle:focus {
  color: #ffffff !important;
  background: none !important;
  border: none;
  outline: none;
}
.menu:focus {
  color: inherit;
  background: transparent !important;
  border: none;
  outline: none;
}
.title {
  font-style: italic;
  font-weight: 600;
  font-size: 34px;
  line-height: 10px;
  color: #ffff;
  margin: 0;
}
.titlemobile {
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  line-height: 10px;
  color: #ffff;
  margin: 0;
}
.col2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.initials {
  font-style: normal;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  background: #ff595e;
  padding: 4px 7px;
  border-radius: 50%;
  border: 2px solid #ffffff !important;
}
.name {
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
}
.headtabs {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 80px;
  color: #ffffff;
  font-size: 14px;
}
.headtabs div {
  padding: 10px 10px;
  border-bottom: 2px solid #ffffff;
}
.sec2 {
  background: #fafbfc !important;
  width: 100%;
  height: 100%;
  /* background: #ffff; */
  display: block;
  top: -120px;
  position: relative;
  /* box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.1); */
  border-radius: 6px;
  padding-top: 30px;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.secheading {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.filterbox {
  display: flex;
  justify-content: space-between;
}
.searchfilter {
  padding: 20px;
}
.filterbox Button {
  background: #8473cf;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  border: none;
  margin-right: 20px;
}
.filterbox Button span {
  padding-left: 10px;
  padding-right: 10px;
}
.filterbox Button:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #8473cf;
}

.startdate {
  margin-right: 10px;
}
.enddate {
  margin-right: 10px;
}
.formcontrol {
  padding-left: 5px;
  padding-right: 5px;
}
.formcontrol:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.filterform Button {
  background: #8473cf;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  border: none;
}

.searchicon Button {
  background: #8473cf;
  outline: none;
}
.searchicon Button:focus {
  background: #8473cf;
  outline: none;
}

.review {
  background: #f5f6f7;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 20px;
  color: #8d9093;
  font-weight: bold;
  text-transform: initial;
}
.reviewbox {
  border: 1px solid rgb(243, 238, 238);
  height: 510px;
}

.reviewitems {
  padding: 20px 30px;
}
.reviewitems p {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.invoicelabel {
  font-size: 14px;
  color: #9e9e9e;
}
.invoicedesc {
  font-size: 14px;
  text-align: left;
}
.invoiceimg {
  margin-top: 5px;
  text-align: center;
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
}
.download {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
}

.download span {
  color: #8b8b8b;
  padding-left: 5px;
}
.download i {
  background: #eeeaea;
  padding: 10px 15px;
  border-radius: 5px;
}
.details {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}
.tabletitle {
  font-size: 16px;
  text-transform: uppercase;
  color: #8d9093;
  font-weight: bold;
  padding: 10px 20px 0 20px;
}
/*/table/*/

.tablebox {
  border: 1px solid rgb(243, 238, 238);
  margin-bottom: 50px;
  height: 510px;
  overflow-y: auto;
  background: #ffffff;
}
/* width */
.tablebox::-webkit-scrollbar {
  width: 5px;
}
/* width */
body::-webkit-scrollbar {
  display: none;
}

/* Track */
.tablebox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #8473cf;
  border-radius: 10px;
}

/* Handle */
.tablebox::-webkit-scrollbar-thumb {
  background: #a8a9b2;
  border-radius: 10px;
}

.thead th {
  height: 45px;
  text-align: center;
  background: #f5f6f7;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #8d9093;
}
.tbody td {
  height: 45px;
  text-align: center !important;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #252323;
  font-weight: 500;
  vertical-align: middle !important;
}
.checkbox {
  border: 1.5px solid #b0b4bd;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  vertical-align: middle !important;
}

.members {
  color: red !important;
  align-items: center;
  vertical-align: middle !important;
}

.members span:nth-child(1) {
  background: #1b264f;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
}
.members span:nth-child(2) {
  background: #ef3054;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-left: -5px !important;
}
.members span:nth-child(3) {
  background: #fbb13c;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-left: -5px !important;
}

.lines {
  display: flex;
}
.lines span:nth-child(1) {
  border: 1.5px solid #c9cbce;
  width: 20%;
  height: 3px;
  margin-left: 3px;
  margin-top: 18px;
}
.lines span:nth-child(2) {
  border: 1.5px solid #c9cbce;
  width: 20%;
  height: 3px;
  margin-left: 3px;
  margin-top: 18px;
}
.lines span:nth-child(3) {
  border: 1.5px solid #c9cbce;
  width: 20%;
  height: 3px;
  margin-left: 3px;
  margin-top: 18px;
}

.previewbutton {
  color: #8473cf;
  border: 1px solid #8473cf;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #fbb13c;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.statusbackground {
  background: rgba(255, 214, 10, 0.2);
  border-radius: 12px;
  color: #fbb13c;
  padding: 3px;
}
.modalbox {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.mobilenav {
  margin: 0;
  display: none;
  padding: 0 !important;
}
.desktopnav {
  display: flex;
}

@media screen and (max-width: 480px) {
  .mobilenav {
    margin: 0 !important;
    display: block;
    padding: 0 !important;
  }
  .desktopnav {
    display: none;
  }
  .request {
    display: none;
  }
  .mobilesearch {
    display: none;
  }
  .sec1 {
    width: 100%;
    padding: 30px 0px;
  }
  .sec2 {
    width: 100%;
    background: #ffff;
    display: block;
    top: -80px;
  }

  .headtabs {
    margin-top: 20px;
    margin-bottom: 100px;
    color: #ffffff;
    font-size: 12px;
    width: 100%;
    padding: 0 !important;
  }

  .searchfilter {
    display: block;
  }
  .searchinput {
    padding-top: 23px;
    padding-bottom: 23px;
    width: 100%;
  }
  .filterbox {
    display: none;
  }
  .secheading {
    padding: 0 auto;
    display: block;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
