html {
  padding: 0 !important;
  top: 0;
  bottom: 0;
}
.body {
  margin: 0 !important;
  /* width: 100% !important;
  padding: 0 !important;
  height: 100% !important;
  position: relative;
  bottom: 0; */
  top: 0;
  bottom: 0;
}

.cardcontainer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.cardbody1 {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #f8fcfd;
  cursor: pointer;
}
.active {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #4f26aa;
  cursor: pointer;
  color: #ffffff !important;
}
.activeTitle {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: #ffffff;
}

.cardtitle1 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: rgb(65, 62, 62);
}
.activeTitle {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: #ffffff;
}
.cardsubtitle1 {
  font-size: 45px;
  padding-left: 55px;
  color: rgb(65, 62, 62);
  /* font-weight: 500; */
}
.activesubtitle {
  font-size: 45px;
  padding-left: 55px;
  color: #ffffff;
}

.cardiconbody1 {
  font-size: 45px;
  float: right;
  padding-top: 20px;
  padding-right: 30px;
  color: #4f26aa;
  opacity: 0.7;
}
.activeiconbody {
  font-size: 45px;
  float: right;
  padding-top: 20px;
  padding-right: 30px;
  color: #ffffff;
  /* opacity: 0.7; */
}
.cardbody2 {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #f8fcfd;
}
.cardtitle2 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: rgb(65, 62, 62);
}
.cardsubtitle2 {
  font-size: 45px;
  padding-left: 55px;
  color: rgb(65, 62, 62);
  /* font-weight: 500; */
}

.cardiconbody2 {
  font-size: 45px;
  float: right;
  padding-top: 20px;
  padding-right: 30px;
  color: rgb(103, 221, 103);
  opacity: 0.7;
}
.cardbody3 {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #f8fcfd;
}
.cardtitle3 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: rgb(65, 62, 62);
  cursor: pointer;
}
.cardsubtitle3 {
  font-size: 45px;
  padding-left: 55px;
  color: rgb(65, 62, 62);
  /* font-weight: 500; */
}

.cardiconbody3 {
  font-size: 45px;
  float: right;
  padding-top: 20px;
  padding-right: 30px;
  color: #eff63b;
  opacity: 0.7;
}
.cardbody4 {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #f8fcfd;
}
.cardtitle4 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 3px;
  color: rgb(65, 62, 62);
}
.cardsubtitle4 {
  font-size: 45px;
  padding-left: 55px;
  color: rgb(65, 62, 62);
  /* font-weight: 500; */
}

.cardiconbody4 {
  font-size: 45px;
  float: right;
  padding-top: 20px;
  padding-right: 30px;
  color: #f13c3c;
  opacity: 0.7;
}
/* for normal user card  */
.cardbodyA {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #ffffff;
}
.cardbodyB {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #ffffff;
}
.cardbodyC {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #ffffff;
}
.cardbodyD {
  width: 18rem;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #ffffff;
}

.invoicecontainer {
  margin-top: 50px;
}

::placeholder {
  padding-left: 20px;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .cardcontainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    overflow: auto;
    margin-top: 20px !important;
  }
  .cardbody1 {
    width: 300px;
    min-height: 80px;
    margin: 0 5px;
    flex-shrink: 0;
  }
  /* .cardactive {
    width: 300px;
    min-height: 80px;
    margin: 0 5px;
    flex-shrink: 0
  } */
  .cardbody2 {
    width: 300px;
    min-height: 80px;
    margin: 0 5px;
    flex-shrink: 0;
  }
  .cardbody3 {
    width: 300px;
    min-height: 80px;
    margin: 0 5px;
    flex-shrink: 0;
  }
  .cardbody4 {
    width: 300px;
    min-height: 80px;
    margin: 0 5px;
    flex-shrink: 0;
  }
  .tablecontainer {
    margin-top: 10px;
  }
  .invoicecontainer {
    display: none;
  }
  .requestform {
    display: none !important;
  }
  .addrequest {
    display: none;
  }
}
/* 
.cardinactive {
  margin-bottom: 12px;
  padding: 12px 15px;
  font-size: 14px;
  color: #666565;
  font-weight: 500;
}
.cardinactive:hover {
  cursor: pointer;
}
.cardactive:hover {
  cursor: pointer;
} */

/* .cardinactive span {
  padding-left: 10px;
  vertical-align: middle;
}
.cardactive span {
  padding-left: 10px;
  vertical-align: middle;
  color: #8473cf;
}
.cardinactive div {
  font-size: 23px;
  vertical-align: middle;
}
.cardactive div {
  font-size: 23px;
  vertical-align: middle;
 
} */
