/* .table {
  background-color: rgb(250, 250, 250);
} */
.tableheader {
  font-size: 17px !important;
  font-weight: bold !important;
}
.tablehead {
  background-color: #f8f9fa;
}
/* .tablebody {
  min-height: 550px;
} */

.tabletop {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.tablename {
  color: #eb14c4;
  font-size: 16px;
  /* font-weight: bold; */
}
.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .tabletop {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
  }
}
