.body {
  margin: 0;
  background: #e5e5e5;
  height: 100vh;
}
.sec1 {
  width: 100%;
  background: #8473cf;
  padding: 70px 30px;
  display: block;
}
.title {
  font-style: italic;
  font-weight: 600;
  font-size: 34px;
  line-height: 10px;
  color: #ffff;
  margin: 0;
}
.titlemobile {
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  line-height: 10px;
  color: #ffff;
  margin: 0;
}
.col2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.initials {
  font-style: normal;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  background: #ff595e;
  padding: 4px 7px;
  border-radius: 50%;
  border: 2px solid #ffffff !important;
}
.name {
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
}
.sec2 {
  width: 100%;
  display: block;
  top: -40px;
  position: relative;

  border-radius: 6px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.sec2 p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 34px;
  color: #666565;
}

.mobilenav {
  margin: 0;
  display: none;
  padding: 0 !important;
}
.desktopnav {
  display: flex;
}

@media screen and (max-width: 480px) {
  .mobilenav {
    margin: 0 !important;
    display: block;
    padding: 0 !important;
  }
  .desktopnav {
    display: none;
  }

  .sec1 {
    width: 100%;
    padding: 30px 0px;
  }
  .sec2 {
    width: 100%;
    background: #ffff;
    display: block;
    top: -20px;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
