.title {
  font-size: 24px;
  color: #666565;
  font-weight: 500;
  margin-top: 25px;
}

.usercontainer {
  margin-bottom: 70px;
}
.userbox {
  background: #ffffff;
  padding: 20px 30px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
}
.heading {
  font-weight: bold;
  font-size: 24px;
  color: #252323;
  margin-bottom: 20px;
  text-align: center;
}
.form label {
  font-size: 13px;
}
.formcontrol {
  background: #fcfdff;
  font-size: 15px;
}
.formcontrol:focus {
  box-shadow: inherit;
}
.formcontrol option {
  font-size: 16px;
}
.submitbutton {
  display: flex;
  background-color: #4f26aa;
  margin: 20px auto 15px auto !important;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 15px;
  font-weight: bold;
}

/*/table/*/

.tablebox {
  border: 1px solid rgb(243, 238, 238);
  margin-bottom: 50px;
  height: 360px;
  overflow-y: auto;

  background: #ffffff;
}
/* width */
.tablebox::-webkit-scrollbar {
  width: 5px;
}
/* width */
body::-webkit-scrollbar {
  display: none;
}

/* Track */
.tablebox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #8473cf;
  border-radius: 10px;
}

/* Handle */
.tablebox::-webkit-scrollbar-thumb {
  background: #a8a9b2;
  border-radius: 10px;
}

.thead th {
  height: 45px;
  text-align: center;
  background: #f5f6f7;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #8d9093;
}
.tbody td {
  height: 45px;
  text-align: center !important;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #252323;
  font-weight: 500;
  vertical-align: middle !important;
}
.checkbox {
  border: 1.5px solid #b0b4bd;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  vertical-align: middle !important;
}
.action {
  display: flex;
  align-items: center;
}
.action .edit {
  background: rgba(132, 115, 207, 0.2);
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 20px 5px 20px;
  color: #8473cf;
  font-size: 15px;
}
.action .delete {
  background: rgba(255, 89, 94, 0.2);
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 20px 5px 20px;
  color: #ff595e;
  font-size: 15px;
}

.action span {
  padding-left: 10px;
}
.tabrow {
  background: #ffffff;
  margin: 0 2px;
}
.headtabs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
  color: grey;
  font-size: 14px;
}
.headtabs div {
  padding: 10px 10px;
  border-bottom: 3px solid grey;
}
.searchform {
  margin-top: 25px;
}

.searchicon Button {
  background: #8473cf;
  outline: none;
}
.searchicon Button:hover {
  background: #8473cf;
  outline: #ffffff;
  border: 1px solid #ffff;
}
.searchicon Button:focus {
  background: #8473cf;
  outline: #ffffff !important;
  border: 1px solid #ffff !important;
}
.alignLoader {
  align-items: center;
  display: inline-flex;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
