/* .table {
  background-color: rgb(250, 250, 250);
} */
.heading {
  font-weight: bold;
  font-size: 24px;
  color: #252323;
  margin-bottom: 20px;
  text-align: center;
}

.tableheader {
  font-size: 17px !important;
  font-weight: bold !important;
}
.tablehead {
  background-color: #f8f9fa;
}
/* .tablebody {
  min-height: 550px;
} */

.tabletop {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.tablename button {
  background-color: #4f26aa;
  color: #ffffff;
  font-size: 14px;
  outline: none !important;
  font-weight: bold;
  padding: 6px 30px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.editbutton {
  background-color: #c0bcbc;
  color: #ffffff;
  font-size: 12px;
  outline: none !important;
  font-weight: bold;
  padding: 3px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: 5px;
}
.editbutton:hover {
  background: rgb(95, 94, 94) !important;
}
.deletebutton {
  background-color: #f38de0;
  color: #ffffff;
  font-size: 12px;
  outline: none !important;
  font-weight: bold;
  padding: 3px 13px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: 5px;
}
.deletebutton:hover {
  background: #fc37d8 !important;
}
.vendortitle {
  font-weight: bold;
  font-size: 20px;
  color: #252323;
  margin-bottom: 30px;

  text-align: center;
}
.vendor {
  margin-bottom: 20px;
}
.vendornamelabel {
  font-size: 13px;
}
.vendorname {
  font-size: 13px;
  padding-left: 10px;
}
.actionbutton2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.delete2 {
  padding: 5px 40px;
  margin-left: 20px;
  background-color: #f38de0;
  color: #ffffff;
  font-size: 12px;
  outline: none !important;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
}
.delete2:hover {
  background: #fc37d8 !important;
}
.edit2 {
  background-color: #c0bcbc;
  color: #ffffff;
  font-size: 12px;
  outline: none !important;
  font-weight: bold;
  padding: 5px 50px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.edit2:hover {
  background: rgb(95, 94, 94) !important;
}

.submitbutton {
  display: flex;
  background-color: #4f26aa;
  margin: 20px auto 15px auto !important;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 15px;
  font-weight: bold;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .tabletop {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
  }
}
