.addrequest {
  background: #4f26aa;
  padding: 8px 20px;
  text-align: center !important;
  align-items: center !important;
  /* display: inline-block; */
  border-radius: 5px;
  margin: 0 !important;
  cursor: pointer;
}
.addrequest div {
  color: #ffffff;
  font-size: 15px;
}
.addrequest span {
  color: #ffffff;
  font-size: 15px;
  padding-left: 5px;
}
