.title {
  font-size: 24px;
  color: #666565;
  font-weight: 500;
  margin-top: 25px;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.card {
  padding-top: 30px;
  border-radius: 10px;
  border: 1px solid rgba(132, 115, 207, 0.3);
}
.cards .cardtitle {
  font-size: 16px;
  padding-left: 40px;
  padding-bottom: 3px;
}
.cards .cardsubtitle {
  font-size: 38px;
  padding-left: 55px;
}

.cardicon {
  font-size: 46px;
  float: right;
  padding-top: 20px;
}

/*/table/*/

.tablebox {
  border: 1px solid rgb(243, 238, 238);
  margin-bottom: 50px;
  height: 360px;
  overflow-y: auto;
  background: #ffffff;
}
/* width */
.tablebox::-webkit-scrollbar {
  width: 5px;
}
/* width */
body::-webkit-scrollbar {
  display: none;
}

/* Track */
.tablebox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #8473cf;
  border-radius: 10px;
}

/* Handle */
.tablebox::-webkit-scrollbar-thumb {
  background: #a8a9b2;
  border-radius: 10px;
}

.thead th {
  height: 45px;
  text-align: center;
  background: #f5f6f7;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #8d9093;
}
.tbody td {
  height: 45px;
  text-align: center !important;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #252323;
  font-weight: 500;
  vertical-align: middle !important;
}
.checkbox {
  border: 1.5px solid #b0b4bd;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  vertical-align: middle !important;
}

.members {
  color: red !important;
  align-items: center;
  vertical-align: middle !important;
}

.members span:nth-child(1) {
  background: #1b264f;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
}
.members span:nth-child(2) {
  background: #ef3054;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-left: -5px !important;
}
.members span:nth-child(3) {
  background: #fbb13c;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-left: -5px !important;
}

.lines {
  display: flex;
}
.lines span:nth-child(1) {
  border: 1.5px solid #c9cbce;
  width: 20%;
  height: 3px;
  margin-left: 3px;
  margin-top: 18px;
}
.lines span:nth-child(2) {
  border: 1.5px solid #c9cbce;
  width: 20%;
  height: 3px;
  margin-left: 3px;
  margin-top: 18px;
}
.lines span:nth-child(3) {
  border: 1.5px solid #c9cbce;
  width: 20%;
  height: 3px;
  margin-left: 3px;
  margin-top: 18px;
}

.previewbutton {
  color: #8473cf;
  border: 1px solid #8473cf;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
