.layout1 img {
  height: 100vh;
}
.layout2 {
  padding: 50px 50px;
}

.title {
  font-style: italic;
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  color: #4f26aa !important;
  margin: 20px 40px;
}

.mobiletitle {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  display: none;
  color: #4f26aa !important;
  margin: 20px 40px;
}
.form {
  margin: 30% 15% 30% 15%;
}
.forgotheading {
  display: flex;
  align-items: center;
}
.forgotheadtitle {
  font-size: 25px;
  color: #000000;
  font-weight: bold;
}
.subtitle {
  font-size: 14px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 35px;
  font-weight: bold;
}

.submit {
  width: 100%;
  border: 1px solid #4f26aa !important;
  background: #4f26aa !important;
  margin-top: 15px;
  border-radius: 5px;
}
.submit:focus {
  box-shadow: none !important;
}
.formcontrol {
  background: rgba(59, 122, 254, 0.02);
  border: 1px solid #4f26aa !important;
  border-radius: 5px;
}
.formcontrol:focus {
  box-shadow: none;
}
.label {
  font-size: 13px;
  color: #666565;
}
::placeholder {
  font-size: 13px;
  color: #666565;
}

.mobileimage {
  height: 100vh;
  /* background-image: url(../assets/landingPageImage.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.checkboxes {
  margin-top: 5px;
}
.checkboxes label {
  display: inline-block;
  white-space: nowrap;
  font-size: 13px;
  color: #666565;
}
.alignLoader {
  align-items: center;
  display: inline-flex;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .layout1 img {
    display: none;
  }
  .layout2 {
    padding: 20px 10px;
  }

  .title {
    display: none;
  }
  .form {
    margin: 5% 5% 30% 5%;
    background: rgba(255, 255, 255, 0.9) !important;
    padding: 40px 20px;
    border-radius: 5px;
  }
  .mobiletitle {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    color: #4f26aa !important;
    margin: 20px 30px;
  }
  .mobileimage {
    height: 120vh !important;
    background-image: url(../assets/forgotPasswordImage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .subtitle {
    font-size: 10px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .layout1 img {
    display: none;
  }
  .layout2 {
    padding: 20px 10px;
  }

  .title {
    display: none;
  }
  .form {
    margin: 10% 5% 30% 5%;
    background: red !important;
  }
  .mobiletitle {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    color: #4f26aa !important;
    margin: 20px 30px;
  }
  .mobileimage {
    height: 200vh !important;
    background-image: url(../assets/forgotPasswordImage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
