.review {
  background: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 25px 20px;
  color: #eb14c4;
  /* font-weight: bold; */
  text-transform: initial;
  border-bottom: 1px solid rgb(243, 238, 238);
}
.reviewbox {
  border: 1px solid rgb(243, 238, 238);
  min-height: 800px;
}

.reviewitems {
  padding: 20px 30px;
}
.reviewitems p {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.invoicelabel {
  font-size: 13px;
  color: #9e9e9e;
  text-align: left;
}
.invoicedesc {
  font-size: 13px;
  text-align: left;
}
.invoiceimg {
  margin-top: 5px;
  text-align: center;
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
}
.download {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
}

.download span {
  color: #8b8b8b;
  padding-left: 5px;
}
.download i {
  background: #eeeaea;
  padding: 10px 15px;
  border-radius: 5px;
}

.decline {
  padding: 5px 35px;
  background-color: #4e4c4e;
  color: #ffffff;
  font-size: 13px;
  text-transform: lowercase;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
}
.approve {
  padding: 5px 35px;
  background-color: #eb14c4;
  color: #ffffff;
  font-size: 13px;
  text-transform: lowercase;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
}
.approve:hover {
  background-color: #eb14c4 !important;
}
.approve:focus {
  outline: none !important;
}
.decline:focus {
  outline: none !important;
}
.decline:hover {
  background-color: #4e4c4e !important;
}
.commentBox {
  width: 100%;
  margin-top: 20px;
  outline: none;
  border: 1px solid rgb(172, 169, 169);
  border-radius: 5px;
}
.title {
  text-align: center;
  margin-top: 0px;
}
.ticket {
  font-size: 20px;
  font-weight: bold;
}
.ref {
  padding-left: 20px;
  color: #969191;
}
.tablevalues {
  margin-top: 30px;
}
.tableInfo label {
  font-size: 15px;
  font-weight: bold;
}
.tableInfo div {
  font-size: 12px;
}
/* 
.document {
  font-size: 15px;
  font-weight: bold;
}
.img {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
} */
