.form {
  margin: 0% 15% 30% 15%;
}

.submit {
  width: 100%;
  border: 1px solid #4f26aa;
  border-radius: 0;
  background: #4f26aa;
  margin-top: 15px;
  border-radius: 5px;
}
.submit:focus {
  box-shadow: none !important;
}
.formcontrol {
  background: rgba(59, 122, 254, 0.02);
  border: 1px solid #4f26aa;
  border-radius: 5px;
}
.formcontrol:focus {
  box-shadow: none;
}
.label {
  font-size: 13px;
  color: #666565;
}
::placeholder {
  font-size: 13px;
  color: #666565;
}

.checkboxes {
  margin-top: 5px;
}
.checkboxes label {
  display: inline-block;
  white-space: nowrap;
  font-size: 13px;
  color: #4f26aa;
}
.checkboxes input {
  vertical-align: middle;
  margin-right: 8px;
  width: 15px;
  height: 15px;
}

.belowinput {
  display: flex;
  justify-content: space-between;
}

/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {
  .form {
    margin: 10% 5% 30% 5%;
    background: rgba(255, 255, 255, 0.9) !important;
    padding: 40px 20px;
    border-radius: 5px;
  }
}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

@media (min-width: 481px) and (max-width: 767px) {
  .form {
    margin: 10% 5% 30% 5%;
    background: red !important;
  }
}
