.footer {
  padding: 30px 60px;
  width: 100%;
  min-height: 10rem;
  background-color: #000000;
  margin-bottom: 0 !important;
  color: white;
}
.footer div {
  font-size: 14px;
  padding-top: 5px;
}
.footerimage {
  width: 200px;
}
.footerheader {
  font-size: 23px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .desktopmenu {
    display: none !important;
  }
  .mobilemenu {
    display: inherit !important;
  }
  .mobilemenu .link {
    display: inherit !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    color: #ffffff;
  }
}
