.layout1 img {
  height: 100vh;
}
.layout2 {
  padding: 30% 50px 0 50px;
  /* top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
}

.title {
  font-style: italic;
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  color: #4f26aa;
  margin: 20px 40px;
}

.mobiletitle {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  display: none;
  color: #4f26aa;
  margin: 20px 40px;
}
.form {
  margin: 30% 15% 30% 15%;
}
.loginregister {
  display: flex;
  margin: 0 20% !important;
}
.loginregister Button {
  width: 70%;
  text-align: center;
  border: 1px solid #4f26aa;
  border-radius: 0;
  background: transparent;
  color: grey;
  margin-bottom: 40px;
  font-weight: normal;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}
Button:focus {
  box-shadow: none !important;
}
Button:hover {
  background: #4f26aa !important;
}

.active {
  background: #4f26aa !important;
  color: #ffff !important;
  font-weight: bold;
}

.mobileimage {
  height: 100vh;
  /* background-image: url(../assets/landingPageImage.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .layout1 img {
    display: none;
  }
  .layout2 {
    padding: 20px 10px;
  }

  .title {
    display: none;
  }

  .mobiletitle {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    color: #8473cf;
    margin: 20px 30px;
  }
  .mobileimage {
    height: 120vh !important;
    background-image: url(../assets/landingPageImage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .layout1 img {
    display: none;
  }
  .layout2 {
    padding: 20px 10px;
  }

  .title {
    display: none;
  }

  .mobiletitle {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    color: #8473cf;
    margin: 20px 30px;
  }
  .mobileimage {
    height: 200vh !important;
    background-image: url(../assets/landingPageImage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
