.actionbutton {
  outline: none !important;
  padding: 3px 20px;
  border: 1px solid #4f26aa;
  border-radius: 10px;
}

.actionbutton:hover {
  outline: none !important;
  padding: 3px 20px;
  border: 1px solid #4f26aa;
  border-radius: 10px;
  color: #ffffff;
}
