html {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif !important;
  height: 100%;
}

.link {
  outline: none !important;
  text-decoration: none !important;
}

.headingicon {
  color: #ffffff !important;
  font-size: 24px;
  background: transparent !important;
}
.filtericon {
  color: #3b7afe;
  font-size: 20px;
}
.filtericon span {
  color: #000000;
  font-size: 18px;
}
.caret {
  color: #ffffff !important;
  background: red !important;
}
