.title1 {
  font-size: 25px;
  color: #5c5b5b;
  text-align: center;
  /* margin-top: 10px; */
  margin-bottom: 5px;
  font-weight: bold;
}
.title2 {
  font-size: 25px;
  color: #5c5b5b;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.label {
  color: rgb(165, 164, 164);
  font-size: 12px !important;
}
.input {
  border: 1px solid #f3f3f3;
  background: rgba(59, 122, 254, 0.02);
  width: 100%;
  padding: 6px 10px;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
}
/* 
style={{
  border: " 1px solid  #f3f3f3",
  backgroundColor: "rgba(59, 122, 254, 0.02)",
  width: "100%",
  padding: "6px 10px",
  borderRadius: "3px",
  outline: "none",
}} */

.submitdiv1 {
  margin-top: 5px;
  text-align: center !important;
}
.submitdiv2 {
  margin-top: 5px;
  text-align: center !important;
}
.submit {
  padding: 4px 50px !important;
  border-radius: 6px;
  background-color: #4f26aa;
  color: #ffffff;
  font-size: 18px;
  outline: none !important;
  box-shadow: none !important;
}
.dropzonebox {
  margin-top: 5px;
}
.displayinput {
  display: inline-block !important;
}
.desktopform {
  display: flex;
}
.mobileform {
  display: none;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .title {
    margin-top: 0 !important;
  }
  .desktopform {
    display: none;
  }
  .mobileform {
    display: block;
  }
  .dropzonebox {
    display: none;
  }
  .title1 {
    display: none;
  }
  .submitdiv1 {
    display: none;
  }
  .input {
    padding: 20px 10px !important;
  }
  .file {
    outline: none;
    border: 1px solid rgb(196, 194, 194) !important;
    margin-bottom: 10px;
    font-size: 16px !important;
    padding: 5px 1px 35px 1px;
  }
}
